.formPayment {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    text-align: center;
    align-items: center;

    Input {
        margin-bottom: 10px;
        width: 500px;
    }

    .inputGroup {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 36%;
        align-self: center;
        
        Input {
            width: auto;
        }
    }
}

.main {
    background-color: #111219;
    color: #FFF;
    width: 100vw;
    height: 80vh;
    padding: 5%;
}

.products {
    width: 100vw;
    align-items: center;
    background-color: #111219;
    overflow-y: auto;
    padding-top: 30px;
    padding-bottom: 12%;
}

.product {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 90%;
    height: 200px;
    background-color: #1B1C29;
    color: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    .productInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }
    // .descricao {
    //     width: 50%;
    //     p{
    //         text-align: justify;
    //     }
    // }
}

.footer{
    padding: 10px;
    color: #FFF;
    background-color: #111219;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    left: 0;
    position: absolute !important;

    .botoes {
        display: flex;
        flex-direction: row;
    }
}

.footerPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}



.removerProduto {
    background-color: #576783;
    border-radius: 50px;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFF;
}

.imagemProduto {
    img {   
        height: 100%;
        width: 150px;
    }
}