.container {
  border-radius: 10px;
  padding: 10px;
  background-color: #1b1c29;
  margin: 0 auto;
  margin-top: 0%;
  width: auto;
  max-width: 950px;

  h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.tittle2{
  display: flex;
  justify-content: center;
  h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;}
  }
}

.altUser {
  display: flex;
  margin-left: 20px;

  input{
    margin-bottom: 10px;
  }
}

.listEnd {
  margin-left: 40px;

  ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
  }

  .card {
    border-radius: 10px;
    background-color: #12131b;
    border-radius: 10px;
    margin: 15px;
    border: 1px solid #a3c4ff;
    padding: 10px;
  }
  .delete {
    display: flex;
    justify-content: end;
    button {
      display: flex;
      justify-content: center;
      background-color: #a3c4ff;
      color: #12131b;
      font-size: 16px;
      height: 30px;
      width: 30px;
      border-radius: 2px;
      border: none;
      transition: background 250ms;
      padding: 5px;
    }
  }
}
.add {
  display: flex;
  justify-content: center;
  button {
    cursor: pointer;
    background-color: #a3c4ff;
    color: #12131b;
    font-size: 16px;
    height: auto;
    width: auto;
    border-radius: 2px;
    border: none;
    transition: background 250ms;
    padding: 5px;
  }
  button:hover {
    background-color: #608edd;
  }
}
