@charset "UTF-8";

.main {
    border: solid red 2px;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    color: #FFF;

    h1 {
        font-weight: 900;
        font-size: 3em;
    }

    .produtos {
        padding: 20px;
        background-color: #1B1C29;
        ;
        height: 70vh;
        overflow: scroll;
        overflow-x: hidden;
    }

    footer {
        display: flex;
        justify-content: space-between;
        background-color: #576783;
        width: 100%;
        height: 30vh;
        z-index: 9999;
    }
}